@model IEnumerable<Caser.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<h1>Posts</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostSub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostSub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostContent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
