@model Caser.Models.Cases

@{
    ViewData["Title"] = "Edit";
}

<h1>Ticket: @Model.CaseId</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CaseId" />
            <div class="form-group">
                <label asp-for="CaseSubject" class="control-label"></label>
                <input asp-for="CaseSubject" class="form-control" />
                <span asp-validation-for="CaseSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseDesc" class="control-label"></label>
                <textarea asp-for="CaseDesc" rows="5" columns="40" class="form-control"></textarea>
                <span asp-validation-for="CaseDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseContactName" class="control-label"></label>
                <input asp-for="CaseContactName" class="form-control" />
                <span asp-validation-for="CaseContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseContactPhone" class="control-label"></label>
                <input asp-for="CaseContactPhone" class="form-control" />
                <span asp-validation-for="CaseContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustId" class="control-label"></label>
                <select asp-for="CustId" class="form-control" asp-items="ViewBag.CustId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CaseIntComment" class="control-label"></label>
                <textarea asp-for="CaseIntComment" class="form-control"></textarea>
                <span asp-validation-for="CaseIntComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" onclick="myFunction()" />
                @if (TempData["Success"] != null)
                {
                    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                }
            </div>
        </form>
    </div>
</div>

@if (@Model.CaseIsFinished == true)
{

    <div>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.CaseId">Delete</a>
    </div>
}
else
{
    <div>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.CaseId">Delete</a>
        <a asp-action="CloseCases" class="btn btn-success" asp-route-id="@Model.CaseId">Close Case</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
